{% extends 'basechat.html' %}
{% load static %}

{% block friendorgroup %}

    <!-- Display all friend -->
    {% for f in friends %}
    <div class="chat-card {% if f == friend %}active{% endif %}" data-slug="{{ f.id }}">
        <div class="chat-image flex"><i class="bi bi-person-fill"></i></div>
        <div class="chat-card-right">
            <div class="chat-card-right-top">
                <div class="chat-name"> {{ f.first_name | upper }} {{ f.last_name | upper }}</div>
                <div class="chat-time">2:45 PM</div>
            </div>
            <div class="chat-last-message">Hey, are we still meeting today?</div>
            <div class="chat-card unread">2</div>
        </div>
    </div>
    {% empty %}
    <div class="no-friends-display">No friends. Try adding some.</div>
    <div class="blank-content-for-mobile">
        <i class="bi bi-chat-text"></i>
        <h3>No Friends Yet</h3><br>
        <img src="{% static 'images/Messages-pana.png' %}" alt="Error" height="200" width="200">
    </div>
    {% endfor %}

{% endblock %}

{% block chatblock %}
<!-- Display message if friend is selected -->
{% if friend %}
<div class="right-content" id="right-content">

    <div class="chat-top-bar">
        <div class="chat-top-bar-left">
            <div class="chat-image flex">
                <i class="bi bi-person-fill"></i>
            </div>
            <div class="chat-top-bar-left-name-and-last-seen">
                <div class="chat-top-bar-left-name">{{ friend.first_name | upper }} {{ friend.last_name | upper }} <span>(username : {{ friend.username }})</span></div>
                <div class="chat-top-bar-left-last-seen">Online</div> 
            </div>
        </div>
        <div class="chat-top-bar-right">
            <div class="call flex" title="Start Call" onclick="startCall()"><i class="bi bi-telephone-fill"></i></div>
            <audio id="remoteAudio" autoplay></audio>
            <div class="more-options flex"><i class="bi bi-three-dots-vertical"></i></div>
        </div>
    </div>
    <!-- Display warning message if the user isn't your friend. -->
    {% if friend not in my_friend_only %}
    <div style="padding-left: 10px;padding-right: 10px;">
        
            Warning this user isn't your friend. Sending a message will automatically make you friends.
    </div>
    {% endif %}
    
    <div class="chat-content" id="chatContent">
        <div style="text-align: center; margin: 15px 0; color: var(--text-secondary); font-size: 12px;">
            Today
        </div>
        
    </div>
    
    <form class="chat-bottom-message-bar" method="post" id="chatForm">
        {% csrf_token %}
        <!-- Attachment buttons -->
        {% if friend not in my_friend_only %}
            <input type="hidden" value="noFriendMessage" name="post_type">
        {% endif %}
        <div class="emoji flex"><i class="bi bi-emoji-smile" id="emoji-input"></i></div>

        <input class="text-message" placeholder="Type a message" name="message" id="text-message" required>

        <div class="attach-file flex" id="attach-file"><i class="bi bi-paperclip"></i></div>

        <button class="send-icon flex" id="send-icon" type="submit"><i class="bi bi-send-fill"></i></button>

        <div class="voice-message flex" id="voice-message"><i class="bi bi-mic-fill"></i></div>
    </form>
</div>

{% endif %}

<!-- call_ui.html -->
<div id="overlay2" class="hidden"></div>

<div id="incomingCallBox" class="voice-call-popup hidden">
  <p>📞 Incoming Call from <strong id="caller">User123</strong></p>
  <button id="acceptBtn">✅ Accept</button>
  <button id="rejectBtn">❌ Reject</button>
</div>

<div id="callBox" class="voice-call-popup hidden">
    <p>
        <h1>You are in a Voice call</h1>
    </p>
    <button id="endCallBtn">❌ End Call</button>
</div>

<div id="ringingBox" class="voice-call-popup hidden">
    <p>
        <h1>Ringing.....</h1>
    </p>
    <button id="cancelCallBtn">❌ Cancel Call</button>
</div>


<script src="{% static 'js/privatechat.js' %}"></script>

{% endblock %} 
