{% extends 'basechat.html' %}
{% load static %}

{% block friendorgroup %}

    <!-- Display all friend -->
    {% for f in friends %}
    <div class="chat-card {% if f == friend %}active{% endif %}" data-slug="{{ f.id }}">
        <div class="chat-image flex"><i class="bi bi-person-fill"></i></div>
        <div class="chat-card-right">
            <div class="chat-card-right-top">
                <div class="chat-name"> {{ f.first_name | upper }} {{ f.last_name | upper }}</div>
                <div class="chat-time">2:45 PM</div>
            </div>
            <div class="chat-last-message">Hey, are we still meeting today?</div>
            <div class="chat-card unread">2</div>
        </div>
    </div>
    {% empty %}
    <div class="no-friends-display">No friends. Try adding some.</div>
    <div class="blank-content-for-mobile">
        <i class="bi bi-chat-text"></i>
        <h3>No Friends Yet</h3><br>
        <img src="{% static 'images/Messages-pana.png' %}" alt="Error" height="200" width="200">
    </div>
    {% endfor %}

{% endblock %}

{% block chatblock %}
<!-- Display message if friend is selected -->
{% if friend %}
<div class="right-content" id="right-content">

    <div class="chat-top-bar">
        <div class="chat-top-bar-left">
            <div class="chat-image flex">
                <i class="bi bi-person-fill"></i>
            </div>
            <div class="chat-top-bar-left-name-and-last-seen">
                <div class="chat-top-bar-left-name">{{ friend.first_name | upper }} {{ friend.last_name | upper }} <span>(username : {{ friend.username }})</span></div>
                <div class="chat-top-bar-left-last-seen">Online</div> 
            </div>
        </div>
        <div class="chat-top-bar-right">
            <div class="more-options flex"><i class="bi bi-three-dots-vertical"></i></div>
        </div>
    </div>
    <!-- Display warning message if the user isn't your friend. -->
    {% if friend not in my_friend_only %}
    <div style="padding-left: 10px;padding-right: 10px;">
        
            Warning this user isn't your friend. Sending a message will automatically make you friends.
    </div>
    {% endif %}
    
    <div class="chat-content" id="chatContent">
        <div style="text-align: center; margin: 15px 0; color: var(--text-secondary); font-size: 12px;">
            Today
        </div>
        
    </div>
    
    <form class="chat-bottom-message-bar" method="post" id="chatForm">
        {% csrf_token %}
        <!-- Attachment buttons -->
        {% if friend not in my_friend_only %}
            <input type="hidden" value="noFriendMessage" name="post_type">
        {% endif %}
        <div class="emoji flex"><i class="bi bi-emoji-smile" id="emoji-input"></i></div>

        <input class="text-message" placeholder="Type a message" name="message" id="text-message" required>

        <div class="attach-file flex" id="attach-file"><i class="bi bi-paperclip"></i></div>

        <button class="send-icon flex" id="send-icon" type="submit"><i class="bi bi-send-fill"></i></button>

        <div class="voice-message flex" id="voice-message"><i class="bi bi-mic-fill"></i></div>
    </form>
</div>
{% endif %}


<script>
    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get('id');
    
    if(id){
    const roomIdElement = document.getElementById('roomCode');
    const chatContent = document.getElementById('chatContent');
    const room_code = roomIdElement ? roomIdElement.dataset.roomCode : null;
    
    if (room_code) {
        console.log(room_code)
        let socket = new WebSocket(`ws://${window.location.host}/ws/chat/${room_code}/`);
        const uniqueId = `chat-alert-${Date.now()}`;

        chatContent.insertAdjacentHTML('beforeend',
            `<div id='${uniqueId}' style="width:100%;height:25px;display:flex;justify-content:center;">
                <p class="alert-success" style="text-align:center; border-radius:5px;width:70%">Connecting....</p><br>
            </div>`
        )

        socket.onopen = () =>{
            document.getElementById(uniqueId).style.display = 'none';
            chatContent.insertAdjacentHTML(
                'beforeend',
                `<div id='chat-alert' style="width:100%;height:25px;display:flex;justify-content:center;">
                    <p class="alert-success" style="text-align:center; border-radius:5px;width:70%">Connected Successfully</p><br>
                </div>`
            );
            setTimeout(() => {
                const chatAlert = document.getElementById('chat-alert');
                if (chatAlert) {
                    chatAlert.style.display = 'none';
                }
            }, 4000);
            chatContent.scrollTop = chatContent.scrollHeight;
           
        }
        

        socket.onmessage = (e)=>{

            data = JSON.parse(e.data);
            console.log(`Message received:`,data);
            if(data.type=='chat'){
                let divClass = 'received';
                if(data.sender == "{{ request.user.username }}"){
                    divClass ='sent';
                }
                
                chatContent.insertAdjacentHTML(
                'beforeend',
                `<div class="message ${divClass}">
                ${data.message}
                <div class="message-time-wrapper">
                    <span class="message-time">now</span>
                </div>
                </div>`
                );
                // To auto scroll when new div is added!!
                chatContent.scrollTop = chatContent.scrollHeight;
            }
            if(data.type == 'user_joined'){
                chatContent.insertAdjacentHTML(
                    'beforeend',
                    `<div style="width:100%;height:50px;">
                    <p>${data.message}</p><br>
                    </div>`
                    );
                    // To auto scroll when new div is added!!
                    chatContent.scrollTop = chatContent.scrollHeight;
            }
        }
        socket.onclose = (event) =>{
            console.log('message',event);
            const chatContent = document.getElementById('chatContent');
            // document.getElementById('chat-alert').style.display = 'none';
            document.getElementById(uniqueId).style.display = 'none';
            chatContent.insertAdjacentHTML(
                'beforeend',
                `<div id='chat-alert' style="width:100%;display:flex;justify-content:center;align-items:center;">
                    <p class='alert-error' style="text-align:center; border-radius:5px;width:70%">Disconnected. Please check your internet connection and try again.</p><br>
                </div>`
            );
            chatContent.scrollTop = chatContent.scrollHeight;
        }

        chatForm.addEventListener('submit', (e) => {
        e.preventDefault();

        voiceMessage= document.getElementById('voice-message');
        attachFile = document.getElementById('attach-file');
        document.getElementById('send-icon').style.display = 'none';
        voiceMessage.style.display = 'flex';
        attachFile.style.display = 'flex';

        setTimeout(() => {
            voiceMessage.style.opacity = '0'; // Start with opacity 0
            attachFile.style.opacity = '0'; // Start with opacity 0

            setTimeout(() => {
                voiceMessage.style.opacity = '1'; // Fade in
                attachFile.style.opacity = '1'; // Fade in
            }, 10);
        }, 0); // Match the transition duration

        const message = e.target.message.value;
        socket.send(JSON.stringify({message:message,receiverId:id}));     
        e.target.reset();               
        });
    }
}
</script>


{% endblock %} 
