{% extends 'basechat.html' %}
{% load static %}
<!-- Display friend or group -->
{% block friendorgroup %}
    <!-- Display all groups -->
    {% for groups in my_groups %}
    <div class="chat-card {% if groups == group %}active{% endif %}" data-slug="{{ groups.id }}">
        <div class="chat-image flex"><i class="bi bi-person-fill"></i></div>
        <div class="chat-card-right">
            <div class="chat-card-right-top">
                <div class="chat-name">{{ groups.name }}</div>
                <div class="chat-time">2:45 PM</div>
            </div>
            <div class="chat-last-message">Hey, are we still meeting today?</div>
            <div class="chat-card unread">2</div>
        </div>
    </div>
    {% empty %}
    <div class="no-friends-display">No groups. Try adding some.</div>
    <div class="blank-content-for-mobile">
        <i class="bi bi-chat-text"></i>
        <h3>No Groups Yet</h3><br>
        <img src="{% static 'images/Messages-pana.png' %}" alt="Error" height="200" width="200">
    </div>
    {% endfor %}
{% endblock %}



{% block chatblock %}
{% if room_code %}
<div class="right-content" id="right-content">

    <div class="chat-top-bar">
        <div class="chat-top-bar-left">
            <div class="chat-image flex">
                <i class="bi bi-person-fill"></i>
            </div>
            <div class="chat-top-bar-left-name-and-last-seen">
                <div class="chat-top-bar-left-name">{{ group.name }}  <span>( groupId: {{ group.group_id}})</span></div>
            </div>
        </div>
        <div class="chat-top-bar-right">
            <div class="video-call flex"><i class="bi bi-camera-video-fill"></i></div>
            <div class="call flex"><i class="bi bi-telephone-fill"></i></div>
            <div class="search flex"><i class="bi bi-search"></i></div>
            <div class="more-options flex"><i class="bi bi-three-dots-vertical"></i></div>
        </div>
    </div>
    
    <div class="chat-content" id="chatContent">
        <div style="text-align: center; margin: 15px 0; color: var(--text-secondary); font-size: 12px;">
            Today
        </div>
        
        
        
    </div>
    
    <form class="chat-bottom-message-bar" method="post" id="chatForm">
        {% csrf_token %}
        <!-- Attachment buttons -->
        <div class="emoji flex"><i class="bi bi-emoji-smile" id="emoji-input"></i></div>

        <input class="text-message" placeholder="Type a message" name="message" id="text-message" required>

        <div class="attach-file flex" id="attach-file"><i class="bi bi-paperclip"></i></div>

        <button class="send-icon flex" id="send-icon" type="submit"><i class="bi bi-send-fill"></i></button>

        <div class="voice-message flex" id="voice-message"><i class="bi bi-mic-fill"></i></div>
    </form>
</div>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get('id');
    if(id){
        const roomIdElement = document.getElementById('roomCode');
        const room_code = roomIdElement ? roomIdElement.dataset.roomCode : null; 
        if(room_code){
            console.log(room_code);

            let socket = new WebSocket(`wss://${window.location.host}/ws/groupchat/${room_code}/`);
            const uniqueId = `chat-alert-${Date.now()}`;
            chatContent.insertAdjacentHTML('beforeend',
                `<div id='${uniqueId}'' style="width:100%;height:25px;display:flex;justify-content:center;">
                    <p class="alert-success" style="text-align:center; border-radius:5px;width:70%">Connecting....</p><br>
                </div>`
            )

            socket.onopen = () =>{
                document.getElementById(uniqueId).style.display = 'none';
                chatContent.insertAdjacentHTML(
                    'beforeend',
                    `<div id='chat-alert' style="width:100%;height:25px;display:flex;justify-content:center;">
                        <p class="alert-success" style="text-align:center; border-radius:5px;width:70%">Connected Successfully</p><br>
                    </div>`
                );
                chatContent.scrollTop = chatContent.scrollHeight;

                setTimeout(()=>{
                    document.getElementById('chat-alert').style.display = 'none';
                },2000);
            }
 

            socket.onmessage = (e)=>{
                data = JSON.parse(e.data);
                const chatContent = document.getElementById('chatContent');
                console.log(`Message received:`,data);
                if(data.type=='groupchat'){
                    let divClass = 'received';
                    if(data.username == "{{ request.user.username }}"){
                        divClass ='sent';
                    }
                    
                    chatContent.insertAdjacentHTML(
                    'beforeend',
                    `<div class="message ${divClass}">
                    <div>[ ${data.sender_first_name.toUpperCase()} ${data.sender_last_name.toUpperCase()}]</div><br>
                    ${data.message}
                    <div class="message-time-wrapper">
                        <span class="message-time">now</span>
                    </div>
                    </div>`
                    );
                    // To auto scroll when new div is added!!
                    chatContent.scrollTop = chatContent.scrollHeight;
                }
                if(data.type == 'user_joined'){
                    chatContent.insertAdjacentHTML(
                    'beforeend',
                    `<div style="width:100%;height:50px;">
                    <p>${data.message}</p><br>
                    </div>`
                    );
                    // To auto scroll when new div is added!!
                    chatContent.scrollTop = chatContent.scrollHeight;
                }
                if(data.type == 'connection' ){
                if(data.message == 'connected'){
                    chatContent.insertAdjacentHTML('beforeend',
                        `<div id='chat-alert' style="width:100%;height:25px;display:flex;justify-content:center;">
                            <p class="alert-success" style="text-align:center; border-radius:5px;width:70%">Connected Successfully</p><br>
                        </div>`                       
                    );
                    chatContent.scrollTop = chatContent.scrollHeight;

                };
                setTimeout(()=>{
                    document.getElementById('chat-alert').style.display = 'none';
                },2000)

            }
            }

            socket.onclose = (event) =>{
                console.log('message',event);
                const chatContent = document.getElementById('chatContent');
                document.getElementById('chat-alert').style.display = 'none';
                
                chatContent.insertAdjacentHTML(
                    'beforeend',
                    `<div id='chat-alert' style="width:100%;display:flex;justify-content:center;align-items:center;">
                        <p class='alert-error' style="text-align:center; border-radius:5px;width:70%">Disconnected. Please check your internet connection and try again.</p><br>
                    </div>`
                );
                chatContent.scrollTop = chatContent.scrollHeight;
            }

            document.getElementById('chatForm').addEventListener('submit', (e) => {
            e.preventDefault();
            const message = e.target.message.value;

            voiceMessage= document.getElementById('voice-message');
            attachFile = document.getElementById('attach-file');
            document.getElementById('send-icon').style.display = 'none';
            voiceMessage.style.display = 'flex';
            attachFile.style.display = 'flex';

            setTimeout(() => {
                voiceMessage.style.opacity = '0'; // Start with opacity 0
                attachFile.style.opacity = '0'; // Start with opacity 0

                setTimeout(() => {
                    voiceMessage.style.opacity = '1'; // Fade in
                    attachFile.style.opacity = '1'; // Fade in
                }, 10);
            }, 0); // Match the transition duration


            socket.send(JSON.stringify({message:message,receiverId:id}));     
            e.target.reset();               
            });
            }
    }
    

</script>
{% endif %}
{% endblock %}