{% extends 'basechat.html' %}
{% load static %}
<!-- Display friend or group -->
{% block friendorgroup %}
    <!-- Display all groups -->
    {% for groups in my_groups %}
    <div class="chat-card {% if groups == group %}active{% endif %}" data-slug="{{ groups.id }}">
        <div class="chat-image flex"><i class="bi bi-person-fill"></i></div>
        <div class="chat-card-right">
            <div class="chat-card-right-top">
                <div class="chat-name">{{ groups.name }}</div>
                <div class="chat-time">2:45 PM</div>
            </div>
            <div class="chat-last-message">Hey, are we still meeting today?</div>
            <div class="chat-card unread">2</div>
        </div>
    </div>
    {% empty %}
    <div class="no-friends-display">No groups. Try adding some.</div>
    <div class="blank-content-for-mobile">
        <i class="bi bi-chat-text"></i>
        <h3>No Groups Yet</h3><br>
        <img src="{% static 'images/Messages-pana.png' %}" alt="Error" height="200" width="200">
    </div>
    {% endfor %}
{% endblock %}



{% block chatblock %}
{% if room_code %}
<div class="right-content" id="right-content">

    <div class="chat-top-bar">
        <div class="chat-top-bar-left">
            <div class="chat-image flex">
                <i class="bi bi-person-fill"></i>
            </div>
            <div class="chat-top-bar-left-name-and-last-seen">
                <div class="chat-top-bar-left-name">{{ group.name }}  <span>( groupId: {{ group.group_id}})</span></div>
            </div>
        </div>
        <div class="chat-top-bar-right">
            <div class="video-call flex"><i class="bi bi-camera-video-fill"></i></div>
            <div class="call flex"><i class="bi bi-telephone-fill"></i></div>
            <div class="search flex"><i class="bi bi-search"></i></div>
            <div class="more-options flex"><i class="bi bi-three-dots-vertical"></i></div>
        </div>
    </div>
    
    <div class="chat-content" id="chatContent">
        <div style="text-align: center; margin: 15px 0; color: var(--text-secondary); font-size: 12px;">
            Today
        </div>
        
        
        
    </div>
    
    <form class="chat-bottom-message-bar" method="post" id="chatForm">
        {% csrf_token %}
        <!-- Attachment buttons -->
        <div class="emoji flex"><i class="bi bi-emoji-smile" id="emoji-input"></i></div>

        <input class="text-message" placeholder="Type a message" name="message" id="text-message" required>

        <div class="attach-file flex" id="attach-file"><i class="bi bi-paperclip"></i></div>

        <button class="send-icon flex" id="send-icon" type="submit"><i class="bi bi-send-fill"></i></button>

        <div class="voice-message flex" id="voice-message"><i class="bi bi-mic-fill"></i></div>
    </form>
</div>

<script src="{% static 'js/groupchat.js' %}"></script>
{% endif %}
{% endblock %}